@page
@model Lana_jewelry.Pages.Party.CurrenciesPage

@{
     Layout = "_Index";
}

<body>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Items[0].Id)
            </th>
            <th>
                <a asp-page="./Index"
                asp-page-handler="Index"
               asp-page-order="@Model.SortOrder(nameof(Model.Item.Name))"
                asp-page-idx="@Model.PageIndex" 
                asp-page-filter="@Model.CurrentFilter"
                >@nameof(Model.Item.Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                 <a asp-page="./Edit" 
                   asp-page-handler="Edit" 
                   asp-route-id="@item.Id"
                  asp-page-order="@Model.CurrentSort"
                   asp-page-idx="@Model.PageIndex" 
                   asp-page-filter="@Model.CurrentFilter"
                >Edit</a>&nbsp;
                <a asp-page="./Details" 
                   asp-page-handler="Details"
                   asp-route-id="@item.Id"
                  asp-page-order="@Model.CurrentSort"
                   asp-page-idx="@Model.PageIndex" 
                   asp-page-filter="@Model.CurrentFilter"
                >Details</a>&nbsp;
                <a asp-page="./Delete" 
                   asp-page-handler="Delete"
                   asp-route-id="@item.Id"
                  asp-page-order="@Model.CurrentSort"
                   asp-page-idx="@Model.PageIndex" 
                   asp-page-filter="@Model.CurrentFilter"
                >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</body>
